#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
  margin-top: 5vh;
}

.card {
  padding: 2em;
}

.footer {
  margin-top: 8vh;
  color: #888;
}
